*.bak
*.crf
*.d
*.dep
*.hex
*.htm
*.i
*.id
*.idl
*.lnp
*.lst
*.map
*.o
*.omf
*.plg
*.sct
*.uvguix.*
*.uvoptx
*.uvprojx
*.uvproj
*.uv2
*.tmp
*.tmp.*
*.dep
*.axf
*.iex
*.htm
*.s
*.bak
*.obj
*.iex
*.htm
*.s
*.bak
*.obj